<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Edit Catatan</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  <ion-toolbar>
  <ion-title size="large">
  Edit Catatan
  </ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
  <ion-item>
  <ion-label position="floating">Judul Catatan</ion-label>
  <ion-input required [(ngModel)]="nama_matakuliah" placeholder="Masukkan Nama Matakuliah" type="text">
  </ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Isi Catatan</ion-label>
  <ion-input required [(ngModel)]="keterangan" placeholder="Masukkan Keterangan" type="text">
  </ion-input>
  </ion-item>
  <ion-input required [(ngModel)]="id" type="hidden">
  </ion-input>
  <ion-row>
  <ion-col>
  <ion-button type="button" (click)="editMatakuliah()" color="primary" shape="full" expand="block">Edit
 Catatan
  </ion-button>
  </ion-col>
  </ion-row>
  </ion-list>
 </ion-content>
